/* You can add global styles to this file, and also import other style files */
body{
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, rgba(41, 2, 92, 0.575), rgba(39, 26, 216, 0.541), rgba(2, 15, 90, 0.637));  
    font-family: 'Poppins', sans-serif;
}